[Unit]
Description=Argos agent
Documentation=https://argos-monitoring.framasoft.org/
Requires=network.target
After=network.target

[Service]
User=argos
EnvironmentFile=__INSTALL_DIR__/argos-agent
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/venv/bin/argos agent --max-tasks $ARGOS_AGENT_MAX_TASKS \
                                          --wait-time $ARGOS_AGENT_WAIT_TIME \
                                          --log-level $ARGOS_AGENT_LOGLEVEL
SyslogIdentifier=argos-agent

[Install]
WantedBy=multi-user.target
